
@model City

<div id="map" style="height: 400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8SFVHjNc6wy14MlIWig9devzW7XQepkc&callback=initMap" async defer></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.latitude, lng: @Model.longitude },
            zoom: 10
        });

        var marker = new google.maps.Marker({
            position: { lat: @Model.latitude, lng: @Model.longitude },
            map: map,
            title: 'Your location'
        });
    }

    initMap();
</script>
