@model LiperFrontend.Models.SubCategory

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubCategory</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="id" class="control-label"></label>
                    <input asp-for="id" class="form-control" />
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="categoryId" class="control-label"></label>
                    <input asp-for="categoryId" class="form-control" />
                    <span asp-validation-for="categoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nameEN" class="control-label"></label>
                    <input asp-for="nameEN" class="form-control" />
                    <span asp-validation-for="nameEN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nameAR" class="control-label"></label>
                    <input asp-for="nameAR" class="form-control" />
                    <span asp-validation-for="nameAR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="CategorySubCategories" asp-controller="SubCategories" class="btn btn-outline-secondary" asp-route-Id=@Model.id> Back to Sub Categories</a>

                </div>
            </form>
        </div>
    </div>
</div>
